.getonplay {
    width:125px
}
.profileimg {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}
